## Core
# Node dependencies
core/node_modules

# H3Boot build outputs
core/dist

# H3Boot npm
core/.npmrc

# H3Boot package
core/core/package-lock.json

## Docs
# Nuxt dev/build outputs
docs/.output
docs/.data
docs/.nuxt
docs/.nitro
docs/.cache
docs/dist

# Node dependencies
docs/node_modules

# Logs
docs/logs
docs/*.log

# Misc
docs/.DS_Store
docs/.fleet
docs/.idea

# Local env files
docs/.env
docs/.env.*
docs/!.env.example

# VSC
docs/.history
